:root{
    --green: #0f0;
    --black: #000;
    --almost-black: #101010;
}

body{
    color: var(--green);
    background-color: var(--black);
}

h1, h2, h3{
    text-align: center;
}

p{
    font-size: 15px;
    text-align: center;
}

.ascii{
    display: flex;
    justify-content: center; 
    align-items: center; 
    overflow: hidden; 
    font-family: monospace;
    font-size: 12px;
    line-height: 1; 
    white-space: pre;
    margin: 0;
}

a{
    text-decoration: none;
    color: white;
}

.end{
    /*border-top: 1px solid var(--green);*/
    padding-top: 20px
}